# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Virtual environments
.venv/
venv/

# IDE / OS
.DS_Store
Thumbs.db

# Terraform local working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log
crash.*.log

# Terraform variable files that may contain secrets
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json